// All windows
window-rule {
    geometry-corner-radius 5 
    clip-to-geometry true
}

window-rule {
    exclude is-floating=false
    exclude is-focused=true
    match is-floating=true
    opacity 0.50
}

// Firefox Picture-in-picture
window-rule {
    match app-id="Firefox" title="Picture-in-Picture"
    open-floating true
    max-width 710
    max-height 400
}


// Floating Noctalia settings window.
window-rule {
  match app-id="dev.noctalia.Noctalia.Settings"
  open-floating true
  default-column-width { fixed 1080; }
  default-window-height { fixed 920; }
}





// Example: block out two password managers from screen capture.
// (This example rule is commented out with a "/-" in front.)
/-window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"

    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}

// Example: enable rounded corners for all windows.
// (This example rule is commented out with a "/-" in front.)
